@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$prefix: bank-;

$enable-shadows: false;
$color-mode-type: media-query; // Bootstrap media query for light/dark mode

// Theme Colors
$primary: #008555; // Citizens Green
$secondary: #636b64;
$success: $primary;
$info: #175fb1;
$warning: #df8c11;
$danger: #be3333;
$light: #f0f0e6;
$dark: #231f20;

// Theme Styles
$body-bg: #ffffff;
$body-bg-dark: color.adjust($primary, $hue: -25%, $lightness: -23%);
$border-color-dark: $primary;
$body-emphasis-color: $primary;

$font-family-base: "Fira Sans", var(--#{$prefix}font-sans-serif);

$border-radius: 1rem;
$border-width: 2px;

@import "../../node_modules/bootstrap/scss/bootstrap";

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.btn .material-icons
{
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 0;
  margin-top: -1px;
}